/* FONT IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Open\+Sans)

/* VARIABLES */

/* Main Primary color */
color-primary-0 = #4F6980
color-primary-1 = #4E5F6F
color-primary-2 = #4E6377
color-primary-3 = #54738F
color-primary-4 = #497094

/* Main Secondary color (1) */
color-secondary-1-0 = #5E5789
color-secondary-1-1 = #5A5677
color-secondary-1-2 = #5B567F
color-secondary-1-3 = #665E99
color-secondary-1-4 = #5E539E

/* Main Secondary color (2) */
color-secondary-2-0 = #518B6D
color-secondary-2-1 = #527865
color-secondary-2-2 = #518168
color-secondary-2-3 = #579B78
color-secondary-2-4 = #49A074

/* Main Complement color */
color-complement-0 = #C6A474
color-complement-1 = #AB9574
color-complement-2 = #B79B73
color-complement-3 = #DDB57C
color-complement-4 = #E4B168